# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
.env

# Fichiers système
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log

# Docker
Dockerfile
.dockerignore

# Variables sensibles
.env

# IDE
.vscode/
.idea/